{{!-- <div>
    {{!-- <img src="{{images.[0].url}}" alt="">
    <h1>{{name}}</h1>
    <a href="/tracks/{{id}}">View Tracks</a> --}}

<audio controls src={{preview_url}}>
    Your browser does not support the
    <code>audio</code> element.
</audio>
</div> --}}

{{!-- <div class='container-fluid row tracks'>
    <div class='col-7'>
        <p>{{name}}</p>
    </div>
    <div class='col-5'>
        <audio controls src="{{preview_url}}">
            Your browser does not support the
            <code>audio</code> element.
        </audio>
    </div>
</div> --}}